{% extends "layouts/base.html" %}

{% block title %} JKS(Java KeyStore) Parser {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">JKS Parser</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Parse</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">JKS</a>
					</li>
				</ul>
			</div>
			<div class="row">
							
							

				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Select Jave KeyStore(JKS) file </h4>
							
						</div>
						<div class="card-body">
							<form method="post" action="" enctype="multipart/form-data">
							
								<div class="form-group">
									<label for="exampleFormControlFile1">Input File(jks)</label>
									<input type="file" class="form-control-file" id="exampleFormControlFile1" name="jksfile">
								</div>

								<div class="form-group">
									<label for="password">Input password</label>
									<input type="password" class="form-control" id="inpass" placeholder="Password" name="inpass">
								</div>
			
								<div class="form-group">
									<p class="demo">
											
										<button class="btn btn-primary" name="act_pkcs12" value="parse"><span class="btn-label"><i class="fa fa-check"></i></span>
											Submit
										</button>
									</p>
								</div>

							</form>
						</div>
					</div>
				</div>

		
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">JKS Objects</h4>
						</div>
						<div class="card-body">
							<form method="post" action="">

								<p class="demo">
									<div class="form-group">
										<button class="btn btn-primary btn-xs" type="submit" name="download" value="usercert" {% if usercert_pem %} NONE {% else %} disabled {% endif %}>
											<span class="btn-label"><i class="fas fa-arrow-down"></i></span>
											User Certificate
										</button>
									
										<button class="btn btn-warning btn-xs" type="submit" name="download" value="userkey"  {% if userkey_pem %} NONE {% else %} disabled {% endif %}>
											<span class="btn-label"><i class="fas fa-arrow-down"></i></span>
											Private Key
										</button>
									
										<button class="btn btn-secondary btn-xs" type="submit"  name="download" value="cacert" {% if cacert_pem %} NONE {% else %} disabled {% endif %}>
											<span class="btn-label"><i class="fas fa-arrow-down"></i></span>
											CA Certificate
										</button>
									
										<button class="btn btn-secondary btn-xs" type="submit" name="act_pkcs12" value="generate">
											<span class="btn-label"><i class="fas flaticon-box-2"></i></span>
											Generate PKCS12 file
										</button>
									</div>
								</p>

								<div class="form-group">
									<label for="password">Output Password</label>
									<input type="password" class="form-control" id="password" placeholder="Password" name="outpass">
								</div>

								<div class="form-group">
									<ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
										<li class="nav-item">
											<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pkcs12-cert" role="tab" aria-controls="pills-home" aria-selected="true">User Certificate</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pkcs12-key" role="tab" aria-controls="pills-profile" aria-selected="false">Private Key</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pkcs12-cacert" role="tab" aria-controls="pills-contact" aria-selected="false">CA Certificate</a>
										</li>
									</ul>
									<div class="tab-content mt-2 mb-3" id="pills-tabContent">
										<div class="tab-pane fade show active" id="pkcs12-cert" role="tabpanel" aria-labelledby="pills-home-tab">
												<textarea class="form-control" id="pem-data-parsed" rows="10" name="usercert_pem">{{usercert_pem}}</textarea>
										</div>

										<div class="tab-pane fade" id="pkcs12-key" role="tabpanel" aria-labelledby="pills-profile-tab">
												<textarea class="form-control" id="pem-data-parsed" rows="10" name="userkey_pem">{{userkey_pem}}</textarea>
										</div>

										<div class="tab-pane fade" id="pkcs12-cacert" role="tabpanel" aria-labelledby="pills-contact-tab">
												<textarea class="form-control" id="pem-data-parsed" rows="10" name="cacert_pem">{{cacert_pem}}</textarea>
										</div>

									</div>
								</div>	

							
						</form>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
