{% extends "layouts/base.html" %}

{% block title %} BASE64 {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">BASE64</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Generator</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">BASE64 Encode/Decode</a>
					</li>
				</ul>
			</div>

			{% for message in get_flashed_messages() %}
 			<div class="alert alert-warning">
 				<button type="button" class="close" data-dismiss="alert">&times;</button>
 					{{ message }}
 			</div>
 			{% endfor %}

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Input Text</h4>
							
						</div>
						<div class="card-body">
							<form method="post" action="">
								<div class="form-group">
									<label for="defaultSelect">Algorithm </label>
			
									<select class="form-control form-control" id="alg" name="alg">
										<option value="b64">Base-64</option>
										<!--option value="b16">Base-16</option>
										<option value="b32">Base-32</option>
										<option value="a85">Ascii-85</option>
										<option value="b85">Base-85</option-->
										
									</select>
								</div>

								<div class="form-group">
								    <textarea class="form-control" name="inputtext" id="inputtext" rows="5">{{inputtext}}</textarea>
							    </div>

								<div class="form-group">
										<button class="btn btn-primary" type="submit" name="action" value="encode"><span class="btn-label"><i class="fa fa-check"></i></span>
											Encode
										</button>
										<button class="btn btn-primary" type="submit" name="action" value="decode"><span class="btn-label"><i class="fa fa-check"></i></span>
											Decode
										</button>
		    							<button class="btn btn-secondary" type="submit" name="action" value="clear"><span class="btn-label"><i class="fas fa-circle-notch"></i></span>
											Clear
										</button>
								</div>
							</form> 
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Result</h4>
						</div>
						<div class="card-body">

								<div class="form-group">
								    <textarea class="form-control" id="pem-data-parsed" rows="10">{% autoescape false %}{{result}}{% endautoescape %}
									</textarea>
							    </div>
								<div class="form-group">

						</div>	
					</div>
				</div>
	
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
