{% extends "layouts/base.html" %}

{% block title %} Private Key {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Elliptic Curve Private Key</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Generator</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Private Key</a>
					</li>
				</ul>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Generate EC Private Key</h4>
						</div>

						<div class="card-body">
						<form method="post" action="">

							<div class="form-group">

								<div class="form-group">
									<label for="exampleFormControlFile1">Elliptic Curve Parameter</label>
									<select class="form-control form-control" id="keylen" name="keylen">
										{% for element in ecc_curves %}
										<option value={{element}}>{{ element }} </option>
  										{% endfor %}
									</select>
								</div>	
									

								<div class="form-group ">
									<div class="form-check">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" name="encrypt_option" value="enc">
											<span class="form-check-sign">Encrypt private key</span>
										</label>
									</div>
									<div class="input-group">
										<input type="password" class="form-control" name="inpass" id="inpass" aria-label="Text input with dropdown button" placeholder="Password">
										<div class="input-group-append">
											<button class="btn btn-default btn-border" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">Encryption Algorithm</button>
											<select class="form-control form-control" id="pem_selected" name="enc_alg">
												{% for element in aes_alg_list %}
      												<option value="{{element}}">{{ element  }} </option>
  												{% endfor %}
											</select>
										</div>
									</div>
								</div>

								<!--div class="form-group">
									<div class="form-check">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" name="encrypt_option" value="enc">
											<span class="form-check-sign">Private key encryption password</span>
										</label>
									</div>
								</div-->

								<div class="form-group">
									<button class="btn btn-primary" type='submit' name="action" value='generate'><span class="btn-label"><i class="fa fa-check"></i></span>
										Generate Private Key
									</button>
								</div>
							</div>
						</form>

						</div> <!--card-->

						

					</div>

	<form method="post" action="">					
					{%if prikey_pem%}
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">EC Private Key</h4>
						</div>
						<div class="card-body">
							<!--form method="post" action=""-->
								<div class="form-group">
									<label for="exampleFormControlFile1">EC Parameter</label>
									<textarea class="form-control" id="pem-data-parsed"  name="ecparam" rows=1 style="border:none resize:none {{env.textarea_style}}" readonly>{{keylen}}
									</textarea>
								</div>


								<div class="form-group">
									<textarea class="form-control" id="pem-data-parsed"  name="prikey_pem" rows=10 style="font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;white-space:pre-wrap">{{prikey_pem}}
									</textarea>
								</div>
								<div class="form-group">
									<button class="btn btn-secondary btn-xs" type='submit' name="action" value='download_prikey'><span class="btn-label"><i class="fa fa-check"></i></span>
										download
									</button>
								</div>
							<!--/form-->
						</div>	
						
					</div>
					{%endif%}

					{%if pubkey_pem%}
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">EC Public Key</h4>
						</div>
						<div class="card-body">
							<!--form method="post" action=""-->
								
								<div class="form-group">
									<textarea class="form-control" id="pem-data-parsed"  name="pubkey_pem" rows=10 style="{{env.textarea_style}}">{{pubkey_pem}}
									</textarea>
								</div>
								<div class="form-group">
									<button class="btn btn-secondary btn-xs" type='submit' name="action" value='download_pubkey'><span class="btn-label"><i class="fa fa-check"></i></span>
										download
									</button>
								</div>
							<!--/form-->
						</div>	

					</div>
	  				{%endif%}
	</form>
					
				</div>
				
			</div>

		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
