{% extends "layouts/base.html" %}

{% block title %} Message Digest {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Message Digest</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Generator</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Message Digest</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Input Text</h4>
							
						</div>
						<div class="card-body">
						<form method="post" action="">	
							<div class="form-group">
								<div class="form-group">
									<label for="defaultSelect">Digest Algorithm </label>
			
									<select class="form-control" id="dgst_alg" name="dgst_alg">
										
										<option value="sha256">sha256</option>
										<option value="sha3-256">sha3-256</option>
										<option value="sha224">sha224</option>
										<option value="sha3-224">sha3-224</option>
										<option value="sha3-384">sha3-384</option>
										<option value="sha512">sha512</option>
										<option value="sha512-256">sha512-256</option>

										<option value="md4">md4</option>
										<option value="md5-sha1">md5-sha1</option>
										<option value="mdc2">mdc2</option>
										<option value="ripemd">ripemd</option>
										<option value="ripemd160">ripemd160</option>
										<option value="rmd160">rmd160</option>
										<option value="sha1">sha1</option>
										
										<option value="shake128">shake128</option>
										<option value="shake256">shake256</option>
										<option value="sm3">sm3</option>
										<option value="ssl3-md5">ssl3-md5</option>
										<option value="ssl3-sha1">ssl3-sha1 </option>
										<option value="blake2b512" >blake2b512</option>
										<option value="blake2s256">blake2s256</option>
									</select>
								</div>

								<div class="form-group">
								    <textarea class="form-control" id="pem-data" rows="5" name="inputtext"></textarea>
							    </div>

								{% if errtype == 'inpass' %}
								<div class="form-group has-error ">
								{% else %}	
								<div class="form-group">
								{% endif %}	
									<div class="input-group-append">
										<div class="form-check">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" name="hmac_checked" value="hmac">
												<span class="form-check-sign">Generate hashed MAC with key</span>
											</label>
										</div>
									</div>
									
									<input type="password" class="form-control" name="inpass" id="inpass" aria-label="Text input with dropdown button" placeholder="Password">
								
									
								</div>

								<div class="form-group">
									<p class="demo">
											
										<button class="btn btn-primary"   type="submit" name="action" value="encode"><span class="btn-label"><i class="fas fa-lock"></i></span>
											Generate Digest
										</button>
										<!--button class="btn btn-primary"   type="submit" name="action" value="decode"><span class="btn-label"><i class="fas fa-lock-open"></i></span>
											Decode 
										</button-->	
		    							<button class="btn btn-secondary" type="submit" name="action" value="clear"><span class="btn-label"><i class="fas fa-circle-notch"></i></span>
											Clear
										</button>
		
									</p>
								</div>

							</div>
						</form>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Computed Message Digest</h4>
							
						</div>
						<div class="card-body">
							<p class="demo">
								<div class="form-group">
								    <textarea class="form-control" id="pem-data-parsed" rows="2">{% autoescape false %}{{result}}{% endautoescape %}
									</textarea>
							    </div>
								
							</p>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}
