{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
			
	<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold">PKI.STUDIO</h2>
						<h5 class="text-white op-7 mb-2">Cryptography & PKI utility collection</h5>
					</div>
					<!--div class="ml-md-auto py-2 py-md-0">
						<a href="#" class="btn btn-white btn-border btn-round mr-2">Tutorials</a>
						<a href="#" class="btn btn-secondary btn-round">Homepage</a>
					</div-->
				</div>
			</div>
		</div>
		<div class="page-inner mt--5">
			
			<div class="row">
				<!--div class="col-md-8">
					<div class="card">
						<div class="card-header">
							
						</div>
						<div class="card-body">
							<div class="chart-container" style="min-height: 375px">
								<canvas id="statisticsChart"></canvas>
							</div>
							<div id="myChartLegend"></div>
						</div>
					</div>
				</div-->
				<!--div class="col-md-4">
					<div class="card card-primary">
						<div class="card-header">
							<div class="card-title">Daily Sales</div>
							<div class="card-category">March 25 - April 02</div>
						</div>
						<div class="card-body pb-0">
							<div class="mb-4 mt-2">
								<h1>$4,578.58</h1>
							</div>
							<div class="pull-in">
								<canvas id="dailySalesChart"></canvas>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body pb-0">
							<div class="h1 fw-bold float-right text-warning">+7%</div>
							<h2 class="mb-2">213</h2>
							<p class="text-muted">Transactions</p>
							<div class="pull-in sparkline-fix">
								<div id="lineChart"></div>
							</div>
						</div>
					</div>
				</div-->
			</div>

			<div class="row row-card-no-pd">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
								<h4 class="card-title">Cryptography Service collection</h4>
								<div class="card-tools">
									<button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-angle-down"></span></button>
									<button class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card"><span class="fa fa-sync-alt"></span></button>
									<button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-times"></span></button>
								</div>
							</div>
							<p class="card-category">
							Cryptographic data encode/decode, en/decrypt and sign/verify</p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-8">
									<div class="table-responsive table-hover table-sales">
										<table class="table">
											<tbody>
												<tr>
													<td>
														<p>Analyzer</p>
													</td>
													<td>
														<div class="form-group">
														<p>Analyze PEM text and output result. PEM data can be CSR, certificate, public/private key, pkcs7, pkcs12, CRL, CMS date</p>
															<a a href="/analyzer-pem.html" class="btn btn-info btn-xs  btn-round" role="button">PEM analyser</a>
															<a a href="/analyzer-file.html" class="btn btn-info btn-xs  btn-round" role="button">PEM/DER file analyser</a>
															<a a href="/analyzer-pkcs12.html" class="btn btn-info btn-xs  btn-round" role="button">PKCS12 analyser</a>
															<a a href="/analyzer-jks.html" class="btn btn-info btn-xs  btn-round" role="button">JKS file analyzer</a>
														</div>
													</td>
												</tr>

												<tr>
													<td>
														<p>Encrypt/Decrypt</p>
													</td>
													<td>
														<div class="form-group">
															<p>You can encrypt your files and download them. Symmetric key encryption performs encryption and decryption with the same password, but in RSA, encryption is possible with a public key and decryption with a private key is only possible.</p>
															<a a href="/cipher-encrypt.html" class="btn btn-default btn-xs btn-round" role="button">Symmetric Key Encryption</a>
															<a a href="/cipher-pubkey_encrypt.html" class="btn btn-default btn-xs btn-round" role="button">Public Key Encryption</a>
															
														</div>
													</td>
												</tr>

												<tr>
													<td>
														<p>Sign/Verify</p>
													</td>
													<td>
														<div class="form-group">
															<p>Provides file signature and signature verification function using public key algorithm. After hashing the file using the SHA256 algorithm, it is signed with the private key or verified with the public key. RSA signatures can be signed/verified without a hash </p>
															<a a href="/sign-pubkey.html" class="btn btn-primary btn-xs btn-round" role="button">공개키 서명/검증</a>
															<a a href="/sign-rsa.html" class="btn btn-primary btn-xs btn-round" role="button">RSSA 서명/검증</a>
															
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<p>Generator</p>
													</td>
													<td>
														<div class="form-group">
															<p>BASE64, message digest/HMAC, RSA/ECC private key generator.</p>
															<a a href="/generator-base64.html" class="btn btn-default btn-xs btn-round" role="button">BASE64</a>
															<a a href="/sgenerator-digest.html" class="btn btn-default btn-xs btn-round" role="button">Message Digest/HMAC</a>
															<a a href="/generator-privatekey.html" class="btn btn-default btn-xs btn-round" role="button">RSA Private Key</a>
															<a a href="/generator-ecc_privatekey.html" class="btn btn-default btn-xs btn-round" role="button">ECC Private Key</a>
															<a a href="/generator-ecc_test_key.html" class="btn btn-default btn-xs btn-round" role="button">ECC Private Key with Parameter</a>
															
														</div>
													</td>
												</tr>
												
												<tr>
													<td>
														<p>PKIX</p>
													</td>
													<td>
														<div class="form-group">
															<p>Provides PKIX object creation and verification function</p>
															<a a href="/pkix-generate_csr.html" class="btn btn-secondary btn-xs btn-round" role="button">CSR Generator</a>
															<a a href="/pkix-encrypt_privatekey.html" class="btn btn-secondary btn-xs btn-round" role="button">Encrypt with Public Key Algorithm</a>
															<a a href="/pkix-verify_csr.html" class="btn btn-secondary btn-xs btn-round" role="button">CSR Verifier</a>
															<a a href="/pkix-verify_certificate.html" class="btn btn-secondary btn-xs btn-round" role="button">Certificate Verifier</a>
														</div>
													</td>
												</tr>
												
												<tr>
													<td>
														<p>SSL/TLS</p>
													</td>
													<td>
														<div class="form-group">
															<p>SSL/TLS 사이트에 접속하여 인증서를 추출하는 기능 제공</p>
															<a a href="/ssl-getcert.html" class="btn btn-warning btn-xs btn-round" role="button">SSL/TLS 인증서 추출</a>
														</div>
													</td>
												</tr>
												
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-md-4">
									<div class="card card-post card-round">
										<img class="card-img-top" src="/static/assets/img/marvin-meyer-SYTO3xs06fU-unsplash.jpg" alt="Card image cap">
										<!--div class="card-body">
											<div class="d-flex">
												<div class="avatar">
													<img src="/static/assets/img/profile2.jpg" alt="..." class="avatar-img rounded-circle">
												</div>
												<div class="info-post ml-2">
													<p class="username">Joko Subianto</p>
													<p class="date text-muted">20 Jan 18</p>
												</div>
											</div>
											<div class="separator-solid"></div>
											<p class="card-category text-info mb-1"><a href="#">Design</a></p>
											<h3 class="card-title">
												<a href="#">
													Best Design Resources This Week
												</a>
											</h3>
											<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
											<a href="#" class="btn btn-primary btn-rounded btn-sm">Read More</a>
										</div-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--div class="row">
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Top Products</div>
						</div>
						<div class="card-body pb-0">
							<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 class="fw-bold mb-1">CSS</h6>
									<small class="text-muted">Cascading Style Sheets</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 class="text-info fw-bold">+$17</h3>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 class="fw-bold mb-1">J.CO Donuts</h6>
									<small class="text-muted">The Best Donuts</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 class="text-info fw-bold">+$300</h3>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/logoproduct3.svg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 class="fw-bold mb-1">Ready Pro</h6>
									<small class="text-muted">Bootstrap 4 Admin Dashboard</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 class="text-info fw-bold">+$350</h3>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="pull-in">
								<canvas id="topProductsChart"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<div class="card-title fw-mediumbold">Suggested People</div>
							<div class="card-list">
								<div class="item-list">
									<div class="avatar">
										<img src="/static/assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
									</div>
									<div class="info-user ml-3">
										<div class="username">Jimmy Denis</div>
										<div class="status">Graphic Designer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										<img src="/static/assets/img/chadengle.jpg" alt="..." class="avatar-img rounded-circle">
									</div>
									<div class="info-user ml-3">
										<div class="username">Chad</div>
										<div class="status">CEO Zeleaf</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										<img src="/static/assets/img/talha.jpg" alt="..." class="avatar-img rounded-circle">
									</div>
									<div class="info-user ml-3">
										<div class="username">Talha</div>
										<div class="status">Front End Designer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										<img src="/static/assets/img/mlane.jpg" alt="..." class="avatar-img rounded-circle">
									</div>
									<div class="info-user ml-3">
										<div class="username">John Doe</div>
										<div class="status">Back End Developer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										<img src="/static/assets/img/talha.jpg" alt="..." class="avatar-img rounded-circle">
									</div>
									<div class="info-user ml-3">
										<div class="username">Talha</div>
										<div class="status">Front End Designer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										<img src="/static/assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
									</div>
									<div class="info-user ml-3">
										<div class="username">Jimmy Denis</div>
										<div class="status">Graphic Designer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-primary bg-primary-gradient">
						<div class="card-body">
							<h4 class="mt-3 b-b1 pb-2 mb-4 fw-bold">Active user right now</h4>
							<h1 class="mb-4 fw-bold">17</h1>
							<h4 class="mt-3 b-b1 pb-2 mb-5 fw-bold">Page view per minutes</h4>
							<div id="activeUsersChart"></div>
							<h4 class="mt-5 pb-3 mb-0 fw-bold">Top active pages</h4>
							<ul class="list-unstyled">
								<li class="d-flex justify-content-between pb-1 pt-1"><small>/product/readypro/index.html</small> <span>7</span></li>
								<li class="d-flex justify-content-between pb-1 pt-1"><small>/product/atlantis/demo.html</small> <span>10</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div-->
			<!--div class="row">
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-header">
							<div class="card-title">Feed Activity</div>
						</div>
						<div class="card-body">
							<ol class="activity-feed">
								<li class="feed-item feed-item-secondary">
									<time class="date" datetime="9-25">Sep 25</time>
									<span class="text">Responded to need <a href="#">"Volunteer opportunity"</a></span>
								</li>
								<li class="feed-item feed-item-success">
									<time class="date" datetime="9-24">Sep 24</time>
									<span class="text">Added an interest <a href="#">"Volunteer Activities"</a></span>
								</li>
								<li class="feed-item feed-item-info">
									<time class="date" datetime="9-23">Sep 23</time>
									<span class="text">Joined the group <a href="single-group.php">"Boardsmanship Forum"</a></span>
								</li>
								<li class="feed-item feed-item-warning">
									<time class="date" datetime="9-21">Sep 21</time>
									<span class="text">Responded to need <a href="#">"In-Kind Opportunity"</a></span>
								</li>
								<li class="feed-item feed-item-danger">
									<time class="date" datetime="9-18">Sep 18</time>
									<span class="text">Created need <a href="#">"Volunteer Opportunity"</a></span>
								</li>
								<li class="feed-item">
									<time class="date" datetime="9-17">Sep 17</time>
									<span class="text">Attending the event <a href="single-event.php">"Some New Event"</a></span>
								</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Support Tickets</div>
								<div class="card-tools">
									<ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm" id="pills-tab" role="tablist">
										<li class="nav-item">
											<a class="nav-link" id="pills-today" data-toggle="pill" href="#pills-today" role="tab" aria-selected="true">Today</a>
										</li>
										<li class="nav-item">
											<a class="nav-link active" id="pills-week" data-toggle="pill" href="#pills-week" role="tab" aria-selected="false">Week</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-month" data-toggle="pill" href="#pills-month" role="tab" aria-selected="false">Month</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="d-flex">
								<div class="avatar avatar-online">
									<span class="avatar-title rounded-circle border border-white bg-info">J</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Joko Subianto <span class="text-warning pl-3">pending</span></h6>
									<span class="text-muted">I am facing some trouble with my viewport. When i start my</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">8:40 PM</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-offline">
									<span class="avatar-title rounded-circle border border-white bg-secondary">P</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Prabowo Widodo <span class="text-success pl-3">open</span></h6>
									<span class="text-muted">I have some query regarding the license issue.</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">1 Day Ago</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-away">
									<span class="avatar-title rounded-circle border border-white bg-danger">L</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Lee Chong Wei <span class="text-muted pl-3">closed</span></h6>
									<span class="text-muted">Is there any update plan for RTL version near future?</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">2 Days Ago</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-offline">
									<span class="avatar-title rounded-circle border border-white bg-secondary">P</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Peter Parker <span class="text-success pl-3">open</span></h6>
									<span class="text-muted">I have some query regarding the license issue.</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">2 Day Ago</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-away">
									<span class="avatar-title rounded-circle border border-white bg-danger">L</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Logan Paul <span class="text-muted pl-3">closed</span></h6>
									<span class="text-muted">Is there any update plan for RTL version near future?</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">2 Days Ago</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div-->
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>
	<script src="/static/assets/js/demo.js"></script>

	<script>
		Circles.create({
			id:'circles-1',
			radius:45,
			value:60,
			maxValue:100,
			width:7,
			text: 5,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-2',
			radius:45,
			value:70,
			maxValue:100,
			width:7,
			text: 36,
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-3',
			radius:45,
			value:40,
			maxValue:100,
			width:7,
			text: 12,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

		var mytotalIncomeChart = new Chart(totalIncomeChart, {
			type: 'bar',
			data: {
				labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
				datasets : [{
					label: "Total Income",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});

		$('#lineChart').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});
	</script>

{% endblock javascripts %}
